.navbar {
  background-color: #4c0000 !important;
}
a {
  color: #fff !important;
  display: block;
  margin-right: 45px;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 19px;
}
ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
